.modal {
  display: block;
  align-items: center;
  justify-content: center;
  background-color: rgb(171, 170, 170);
  width: 500px;
  height: 700px;
  margin: 0 auto;
  border: 1px solid black;
}
.App {
  text-align: center;
  display: block;
}
button {
  margin-bottom: 39px;
}
